input[type=text] {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
}

input[type=text]:focus {
    border:1px solid #019160;
}

.txtSearch {
    width: 200px;
    padding-left: 40px !important;
    background-image: url('../../content/icon/search.png');
    background-repeat: no-repeat;
    background-position-x: 16px;
    background-position-y: center;
    background-size: 16px 16px;
}
