.icon-dashboard {
    background-image: url('../../content/icon/dashboard.png');
}

.icon-report {
    background-image: url('../../content/icon/report.png');
}

.icon-dic-employee {
    background-image: url('../../content/icon/dic-employee.png');
}

.icon-setting {
    background-image: url('../../content/icon/setting.png');
}
