.page-header {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    height:40px;
    align-items:center;
}

    .page-header .btnAddCustomer {
        position: absolute;
        right: 24px;
    }

.page-toolbar {
    height: 40px;
    width: 100%;
    align-items: center;
}

    .page-toolbar .btnRefresh {
        position: absolute;
        right: 24px;
        margin-top: 10px;
        background-image: url('../../content/icon/refresh.png');
        height: 30px;
        width: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 4px;
        border: 1px solid #000000;
        background-color: #ffffff;
    }

.grid {
    /*     position: absolute; */
    margin-left: 24px;
    margin-right: 24px;
    overflow-y: auto;
    height: 400px;
}

table {
    border-collapse: collapse;
}

    table tr th {
    }

    table tr, th, td {
        height: 48px;
        border-bottom: 1px solid #bbbbbb;
        text-align: left;
    }

.table-paging {
    position: absolute;
    bottom: 0;
    right: 24px;
    left: 24px;
    height: 56px;
    border-top: 4px solid #C5C5C5;
    font-weight: bold;
}

    .table-paging .paging-content {
        position: absolute;
        left: 0;
        top: 12px;
    }

    .table-paging .pagination {
        display: flex;
        margin-top: 6px;
        justify-content: center;
    }
        
        .table-paging .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }

            .table-paging .pagination a.active {
                background-color: #019160;
                color: white;
                border-radius: 50%;
            }

            .table-paging .pagination a:hover:not(.active) {
                background-color: #DDDDDD;
                border-radius: 50%;
            }

    .table-paging .number-one-page {
        position: absolute;
        right: 0;
        top: 12px;
    }
